.header {
    height: 60px;
    box-shadow: 0 0 3px 4px rgba(0,0,0, .2);
}

.navbar {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 400px;
}

.navitem {
    cursor: pointer;
    font-weight: 600;
}

.navitem:hover {
    opacity: .5;
}